*, 
*::before,
*::after{
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
h1, h2{
    text-transform: capitalize;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

:root {
    --clr-foreground:hsl(255 6% 13%);
    --clr-background: hsl(0 0% 100%);
    --clr-background-light: hsl(0 0% 30%);
    --clr-foreground-light: hsl(255 6% 90%);
    --clr-dark:black;
    --clr-light:white; 
    --clr-primary:#bafd02;
    --clr-highlight: #102f32;
    --clr-neutral-2:#eef0f1;
    --clr-neutral:#F2F8FA;
    --clr-light-gray: hsl(255 6% 80%);
    --clr-gray: hsl(0 0% 30%);



    --hue: 24;

    --orange: hsl(var(--hue), 100%, 50% );
    --blue: hsl(calc(var(--hue) - 180), 100%, 50% );
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-background: hsl(255 6% 13%);
        --clr-foreground: hsl(0 0% 100%);
        --clr-background-light: hsl(255 6% 80%);
        --clr-foreground-light: hsl(0 0% 30%);
    }
}

.light-theme {
    --clr-foreground:hsl(255 6% 13%);
    /* --clr-foreground: hsl(0 0% 100%); */
    --clr-background: hsl(0 0% 100%);
    
    
    --clr-background-light: hsl(0 0% 30%);
    --clr-foreground-light: hsl(255 6% 90%);

    --clr-accent: var(--blue);
    
}

.dark-theme {
    --clr-background: hsl(255 6% 13%);
    --clr-foreground: hsl(0 0% 100%);

    --clr-background-light: hsl(255 6% 90%);
    --clr-foreground-light: hsl(0 0% 30%);

    --clr-accent: var(--orange);
}

/* THEME SWITCHER */



.wave-layer {
    background-image: url(./Images_Vrt/black-wave-small.svg);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:var(--clr-light);
    padding: 1rem;
}
.spacer {
    width: 100%;
    /* aspect-ratio: 9/16; */

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 70vh;
}

@media (min-width:720px) {
    .wave-layer {
        flex-direction: row;
        
        background-image: url(./Images_Vrt/black-wave.svg);

    }

    .spacer {
        width: 100%;
    }
}

.faded-text {
    color: var(--clr-gray);
}

.title-head {
    text-align: center;
}

.wave-layer img {
    transform: scale(0.6);
    width: 100%;
}

.big-paragraph p{
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.primary-title {
    font-weight: 1000;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    color: var(--clr-primary);
    -webkit-text-stroke: 2px black;
    text-shadow: 
        0.1em 0.1em 0 var(--clr-highlight);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.secondary-title {
    font-weight: 1000;
    font-size: clamp(3rem, calc(5vw + 1rem), 3.5rem);
    color:var(--clr-light);
    -webkit-text-stroke: 2px black;
    text-shadow: 
        0.1em 0.1em 0 purple;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.resources-container {
    justify-content: center;
    text-align: center;
 display: flex;
}

.resource{
    padding: 2rem;
}



.references-box {
    display: grid;
    grid-template-columns: 1fr ;
}


.references-section {
    padding: clamp(2rem, 5vw, 8rem);
    display: flex;
    flex-direction: column;
    gap:2rem;
}

@media (min-width:980px) {
    .references-box {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    
}

.references-image{
    justify-content: center;
    display: flex;
    grid-column: 1/ span 1 ;
}

.references-image img{
    width: 100%;
    object-fit: contain;
}

.references-content {
    padding: clamp(1.5rem, 2vw, 2rem);
}

.pdf-container {
    padding:2rem;
	display:flex;
    flex-wrap: wrap;
    gap: 1.2rem;
	justify-content:space-around;
}


.pdf-link:nth-of-type(2){
    border-left:2px solid var(--clr-light) ;
    border-right:2px solid var(--clr-light) ;
}
.pdf-container h1 {
    font-weight: 1000;
    color:var(--clr-light);
}




.footer{
    display: flex;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    gap: 1rem;
    padding: 4rem;
    padding-top: 4rem;
}

.footer-title{
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.footer-column ul {
    line-height: 2rem;
}